<form (submit)="onSearchSubmitted($event)">
  <div class="search-bar">
    <input class="search-bar__input" type="search" name="search" placeholder="Search"
      [(ngModel)]="searchBarValues.searchTerm" autocomplete="off">
    <span>
      <button mat-raised-button type="submit" class="search-bar__submit">
        <i class="material-icons">search</i>
      </button>
    </span>
    <span>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item type="button" *ngFor="let field of sortableFields"
          [disabled]="searchBarValues.activeSortField === field.apiName" (click)="onSortFieldSelected(field.apiName)">
          {{field.displayName}}
        </button>
      </mat-menu>

      <button mat-icon-button type="button" [matMenuTriggerFor]="appMenu">
        <i class="material-icons">sort</i>
      </button>
    </span>
    <span>
      <button mat-icon-button type="button">
        <i *ngIf="searchBarValues.activeSortDirection === SortDirectionEnum.ASC" (click)="onSortDirectionToggled()"
          class="material-icons">arrow_upward</i>
        <i *ngIf="searchBarValues.activeSortDirection === SortDirectionEnum.DESC" (click)="onSortDirectionToggled()"
          class="material-icons">arrow_downward</i>
      </button>
    </span>
    <div class="search-bar__results">
      <span>{{searchResultsMessage}}</span>
    </div>
    <div class="search-bar__new-button">
      <button mat-raised-button color="primary" type="button" (click)="onNewButtonClicked()">{{newButtonText}}</button>
    </div>
  </div>
</form>