<div class="dish__container">
  <mat-card class="dish" (click)="onDishSelected(dish.id)">
    <mat-card-title>
      <span>{{dish.name}}</span>
    </mat-card-title>
    <mat-card-content>

      <div class="section-heading">
        Caloric Summary
        <mat-divider></mat-divider>
        <div class="section-heading__spacer"></div>
      </div>

      <div class="summary__content">

        <div class="summary__chart">
          <mat-spinner *ngIf="chartReady !== true"></mat-spinner>
          <google-chart [type]="'PieChart'" [options]="chartOptions" [data]="chartData" (ready)="chartReady = true"
            [style.display]="chartReady === true ? 'initial' : 'none'">
          </google-chart>
        </div>
        <div class="summary__text-data">
          <span class="dish__macros">
            <!-- Fat -->
            <span class="heading-fat">Fat</span>
            <span></span> <!-- col spacer with row border -->
            <span class="align-right">{{ fat | number: '1.1-1' }}<span class="soft-text">g</span></span>
            <span></span> <!-- col spacer with row border -->
            <span class="align-right">{{ fatCalories | number: '1.1-1' }}&nbsp;<span class="soft-text">cal</span></span>
            <span></span> <!-- col spacer with row border -->
            <span class="align-right">
              ({{ fatPercentage | number: '1.0-0' }}%)
            </span>

            <!-- Carbs -->
            <span class="heading-carbs">Carbs</span>
            <span></span> <!-- col spacer with row border -->
            <span class="align-right">{{ carbs | number: '1.1-1' }}<span class="soft-text">g</span></span>
            <span></span> <!-- col spacer with row border -->
            <span class="align-right">{{ carbsCalories | number: '1.1-1' }}&nbsp;<span
                class="soft-text">cal</span></span>
            <span></span> <!-- col spacer with row border -->
            <span class="align-right">
              ({{ carbsPercentage | number: '1.0-0' }}%)
            </span>

            <!-- Protein -->
            <span class="heading-protein">Protein</span>
            <span></span> <!-- col spacer with row border -->
            <span class="align-right">{{ protein | number: '1.1-1' }}<span class="soft-text">g</span></span>
            <span></span> <!-- col spacer with row border -->
            <span class="align-right">{{ proteinCalories | number: '1.1-1' }}&nbsp;<span
                class="soft-text">cal</span></span>
            <span></span> <!-- col spacer with row border -->
            <span class="align-right">
              ({{ proteinPercentage | number: '1.0-0' }}%)
            </span>
          </span>
          <div>
            <div>
              <span class="heading-calories">Calories:&nbsp;</span>
              {{calories | number: '1.0-2' }}
            </div>
            <!-- TODO: make a pipe that formats a serving size? -->
            <div>
              <span class="heading-serving-size">Serving Size:</span>
              &nbsp;
              {{dish.measurements | measurements}}
            </div>
          </div>
        </div>
      </div>

      <div id="breakdown-heading" class="section-heading">
        Ingredient Caloric Breakdown
        <mat-divider></mat-divider>
        <div class="section-heading__spacer"></div>
      </div>

      <div class="breakdown">
        <table mat-table [dataSource]="breakdownData">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="align-center"></th>
            <td mat-cell *matCellDef="let ingredient">
              {{ingredient.name}}
              <br />
              <span class="soft-text">{{ingredient.measurements | measurements}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="calories">
            <th mat-header-cell *matHeaderCellDef class="align-center heading-calories">Calories</th>
            <td mat-cell *matCellDef="let ingredient" class="align-center">
              {{ingredient.calories | number: '1.0-1'}}
              <div class="breakdown__percentage-indicator cal" [style.height]="ingredient.caloriesPercentage+'%'"></div>
            </td>
          </ng-container>

          <ng-container matColumnDef="fat">
            <th mat-header-cell *matHeaderCellDef class="align-center heading-fat">Fat</th>
            <td mat-cell *matCellDef="let ingredient" class="align-center">
              {{ingredient.fat | number: '1.0-1'}}<span class="soft-text">g</span>
              <br />
              {{ingredient.fatCalories | number: '1.0-1'}}<span class="soft-text">cal</span>
              <div class="breakdown__percentage-indicator fat" [style.height]="ingredient.fatPercentage+'%'"></div>
            </td>
          </ng-container>

          <ng-container matColumnDef="carbs">
            <th mat-header-cell *matHeaderCellDef class="align-center heading-carbs">Carbs</th>
            <td mat-cell *matCellDef="let ingredient" class="align-center">
              {{ingredient.carbs | number: '1.0-1'}}<span class="soft-text">g</span>
              <br />
              {{ingredient.carbsCalories | number: '1.0-1'}}<span class="soft-text">cal</span>
              <div class="breakdown__percentage-indicator carbs" [style.height]="ingredient.carbsPercentage+'%'"></div>
            </td>
          </ng-container>

          <ng-container matColumnDef="protein">
            <th mat-header-cell *matHeaderCellDef class="align-center heading-protein">Protein</th>
            <td mat-cell *matCellDef="let ingredient" class="align-center">
              {{ingredient.protein | number: '1.0-1'}}<span class="soft-text">g</span>
              <br />
              {{ingredient.proteinCalories | number: '1.0-1'}}<span class="soft-text">cal</span>
              <div class="breakdown__percentage-indicator protein" [style.height]="ingredient.proteinPercentage+'%'">
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="breakdownColumnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: breakdownColumnsToDisplay"></tr>

        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>