@import "../style-variables.scss";

.heading {
  position: fixed;
  background-color: $heading-background;
  color: white;
  width:100%;
  box-sizing: border-box;
  padding: .5rem $side-padding .5rem $side-padding;
  z-index: 2; // <-- if unset or less than 2, mat components float over it on scroll
  display: grid;
  grid-template-columns: 1fr auto;

  @media (min-width: 768px) {
    padding: $top-padding $side-padding $bottom-padding $side-padding;
  }
  
}

.navigation{
  @media (min-width: 375px) {
    width: 250px;
  }
}

// active navs
.navigation button.active-nav {
  ::ng-deep{
    .mat-button-focus-overlay {
      opacity: .12;
    }
  }
}

.content {
  padding: $top-padding $side-padding $bottom-padding $side-padding;
}