<app-search-bar [searchBarValues]="initialSearchBarValues" [sortableFields]="sortableFields"
  [searchResultsCount]="foods.length" [newButtonText]="'New Food'" (searchSubmitted)="onSearchSubmitted($event)"
  (newButtonClicked)="onNewButtonClicked()">
</app-search-bar>

<div *ngIf="loading" class="loading-container">
  <mat-spinner></mat-spinner>
</div>

<div class="foods">
  <ng-container *ngFor="let food of foods">
    <app-food-summary-card [food]="food"></app-food-summary-card>
  </ng-container>
</div>