<app-search-bar [searchBarValues]="initialSearchBarValues" [sortableFields]="sortableFields"
  [searchResultsCount]="foods.length" [newButtonText]="'New Food'" (searchSubmitted)="onSearchSubmitted($event)"
  (newButtonClicked)="onNewButtonClicked()">
</app-search-bar>

<div *ngIf="loading" class="loading-container">
  <mat-spinner></mat-spinner>
</div>

<div class="foods">
  <mat-card *ngFor="let food of foods" class="food" (click)="onFoodSelected(food.id)">
    <mat-card-title>
      <span>{{food.name}}</span>
      <span class="food__brand">{{food.brand}}</span>
    </mat-card-title>
    <mat-card-subtitle>{{food.styleOrFlavor}}</mat-card-subtitle>
    <mat-card-content class="food__content">
      <div class="food__content">
        <div class="food__chart">
          <mat-spinner *ngIf="chartReadyMap[food.id] !== true"></mat-spinner>
          <google-chart [type]="'PieChart'" [options]="chartOptions" [data]="chartDataMap[food.id]"
            (ready)="chartReadyMap[food.id] = true"
            [style.display]="chartReadyMap[food.id] === true ? 'initial' : 'none'">
          </google-chart>
        </div>
        <span class="food__text-data">
          <span class="food__macros">
            <!-- Fat -->
            <span class="food__data-heading-fat">Fat</span>
            <span></span> <!-- col spacer with row border -->
            <span>{{food.fat}}g</span>
            <span></span> <!-- col spacer with row border -->
            <span>{{macroService.macroToCalories(food.fat, MacroEnum.FAT)}} cal
              ({{macroService.getMacroPercentage('fat', food)}}%)</span>

            <!-- Carbs -->
            <span class="food__data-heading-carbs">Carbs</span>
            <span></span> <!-- col spacer with row border -->
            <span>{{food.carbs}}g</span>
            <span></span> <!-- col spacer with row border -->
            <span>{{macroService.macroToCalories(food.carbs, MacroEnum.CARBS)}} cal
              ({{macroService.getMacroPercentage('carbs', food)}}%)</span>

            <!-- Protein -->
            <span class="food__data-heading-protein">Protein</span>
            <span></span> <!-- col spacer with row border -->
            <span>{{food.protein}}g</span>
            <span></span> <!-- col spacer with row border -->
            <span>{{macroService.macroToCalories(food.protein, MacroEnum.PROTEIN)}} cal
              ({{macroService.getMacroPercentage('protein', food)}}%)</span>
          </span>
          <div>
            <div>
              <span class="food__data-heading-calories">Calories:</span>
              &nbsp;
              {{food.calories}}
            </div>
            <!-- TODO: make a pipe that formats a serving size? -->
            <div>
              <span class="food__data-heading-serving-size">Serving Size:</span>
              &nbsp;
              {{food.measurements | measurements}}
            </div>
          </div>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>