<div class="heading mat-elevation-z6">
  <h1>Manage Food</h1>
</div>
<div class="search-bar" (submit)="onSearchSubmit($event)">
  <form class="search-bar__search-form">
    <input class="search-bar__input" type="search" name="search" placeholder="Search" [(ngModel)]="searchTerm"
      autocomplete="off">
    <button mat-raised-button type="submit" class="search-bar__submit">
      <i class="material-icons">search</i>
    </button>
  </form>
  <span>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item *ngFor="let field of foodSortableFields" [disabled]="activeSortField === field.apiName"
        (click)="onSortFieldSelected(field.apiName)">
        {{field.displayName}}
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <i class="material-icons">sort</i>
    </button>
  </span>
  <span>
    <button mat-icon-button>
      <i *ngIf="activeSortDirection === SortDirectionEnum.ASC" (click)="toggleSortDirection()"
        class="material-icons">arrow_upward</i>
      <i *ngIf="activeSortDirection === SortDirectionEnum.DESC" (click)="toggleSortDirection()"
        class="material-icons">arrow_downward</i>
    </button>
  </span>
  <div class="search-bar__results">
    <span>{{searchResultsMessage}}</span>
  </div>
</div>
<div class="foods">
  <mat-card matRipple class="food" *ngFor="let food of foods">
    <mat-card-title>
      {{food.name}}
      &nbsp;-&nbsp;
      {{food.styleOrFlavor}}
    </mat-card-title>
    <mat-card-subtitle>{{food.brand}}</mat-card-subtitle>
    <mat-card-content class="food__content">
      <div class="food__content">
        <div class="food__chart">
          <google-chart [type]="'PieChart'" [data]="chartDataMap[food.id]" [options]="chartOptions">
          </google-chart>
        </div>
        <span class="food__text-data">
          <span class="food__macros">
            <!-- Fat -->
            <span class="food__data-heading-fat">Fat</span>
            <span></span> <!-- col spacer with row border -->
            <span>{{food.fat}}g</span>
            <span></span> <!-- col spacer with row border -->
            <span>{{getCalsFromFat(food.fat)}} cal ({{getMacroPercentage('fat', food)}}%)</span>

            <!-- Carbs -->
            <span class="food__data-heading-carbs">Carbs</span>
            <span></span> <!-- col spacer with row border -->
            <span>{{food.carbs}}g</span>
            <span></span> <!-- col spacer with row border -->
            <span>{{getCalsFromCarbs(food.carbs)}} cal ({{getMacroPercentage('carbs', food)}}%)</span>

            <!-- Protein -->
            <span class="food__data-heading-protein">Protein</span>
            <span></span> <!-- col spacer with row border -->
            <span>{{food.protein}}g</span>
            <span></span> <!-- col spacer with row border -->
            <span>{{getCalsFromProtein(food.protein)}} cal ({{getMacroPercentage('protein', food)}}%)</span>
          </span>
          <div>
            <div>
              <span class="food__data-heading-calories">Calories:</span>
              &nbsp;
              {{food.calories}}
            </div>
            <!-- TODO: make a pipe that formats a serving size? -->
            <div>
              <span class="food__data-heading-serving-size">Serving Size:</span>
              &nbsp;
              {{food.measurements[0].value + ' ' + food.measurements[0].unit.abbreviation}}
            </div>
          </div>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>