@import "../../../style-variables.scss";

:host {
  // for debugging only
  // border: 1px solid blue;
}

.heading {
  display: grid;
  padding: $top-padding $side-padding 0 $side-padding;
  background-color: $heading-background;
  color: white
}

.foods {
  padding: $top-padding $side-padding 0 $side-padding;
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.food__style-or-flavor {
  color: rgba(0,0,0,.54);
}

mat-card-content {
  display:flow;
}

.food__content {
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  grid-gap: 1em;
}

.food__chart {
  // value set in chart config obj
  min-width: 100px;
}

.food__text-data {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1em;
}

.food__macros {  
  position: relative;
  display: inline-grid;
  grid-template-columns: auto 1em auto 1em auto;
  grid-template-rows: auto auto auto;
  font-size: 0.9em;
}

.food__macros > * {
  border-top: 1px solid rgba(0,0,0,.4);

  // selects first 5 (so the whole first row)
  &:nth-child(-n+5) {
    border-top: none;
  }
}

// TODO: combine font-weight for these
.food__data-heading-fat {
  font-weight: bold;
  color: $fat-color;
}
.food__data-heading-carbs {
  font-weight: bold;
  color: $carbs-color;
}
.food__data-heading-protein {
  font-weight: bold;
  color: $protein-color;
}
.food__data-heading-calories {
  font-weight: bold;
  color: $calories-color;
}
.food__data-heading-serving-size {
  font-weight: bold;
}

.divider {
  border-bottom: 1px solid rgba(0,0,0,.4);
}

// 2 column bp
@media (min-width: 750px){
  .foods{
    grid-template-columns: 1fr 1fr;
  }
}

// 3 column bp
@media (min-width: 1050px){
  .foods{
    grid-template-columns: 1fr 1fr 1fr;
  }
}