<div *ngIf="loading" class="loading-container">
  <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="!loading">
  <div class="title-bar">
    <h2>{{createMode ? 'New' : 'Edit' }} Plan</h2>
    <button *ngIf="!createMode" mat-raised-button color="warn" type="button"
      (click)="onClickDeletePlan()">Delete</button>
  </div>

  <form [formGroup]="planForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="number" placeholder="Calories" formControlName="calories" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Fat (grams)" formControlName="fat" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Carbs (grams)" formControlName="carbs" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Protein (grams)" formControlName="protein" required>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <!-- Submit / Cancel -->
    <div class="submit-buttons__container">
      <div class="submit-buttons__spacer"></div>
      <div class="submit-buttons">
        <button mat-raised-button type="button" (click)="onClickCancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!planForm.valid">Save</button>
      </div>
    </div>
  </form>
</ng-container>