<div *ngIf="loading" class="loading-container">
  <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="!loading">
  <div class="title-bar">
    <h2>{{createMode ? 'New' : 'Edit' }} Food Item</h2>
    <button *ngIf="!createMode" mat-raised-button color="warn" type="button"
      (click)="onClickDeleteFood()">Delete</button>
  </div>
  <form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
    <div class="field-groups">

      <!-- Branding -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title [class.error]="brandingSectionHasError()">
            Branding
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="branding-fields">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Brand" formControlName="brand">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Style/Flavor" formControlName="styleOrFlavor">
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <!-- Serving Size -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title [class.error]="servingSizeSectionHasError()">
            Serving Size
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div formArrayName="measurements">
          <div *ngFor="let mmtFg of getMeasurementsFormGroups(); let i=index;">
            <div [formGroupName]="i">

              <div class="serving-size">

                <mat-form-field>
                  <mat-label>Unit Type</mat-label>
                  <mat-select formControlName="unitType" (selectionChange)="onUnitTypeChange(i)">
                    <mat-option *ngFor=" let unitType of unitTypes" [value]="unitType">
                      <!-- TODO: make a pipe that pretty prints const notation strings -->
                      {{unitType}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Unit</mat-label>
                  <mat-select formControlName="unit" required>
                    <mat-option *ngFor="let unit of getUnitsOfType(mmtFg.controls['unitType'].value)" [value]="unit">
                      {{unit}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <mat-form-field>
                  <input matInput type="number" placeholder="Ammount" formControlName="amount" required>
                </mat-form-field>

                <button mat-icon-button type="button" (click)="onClickDeleteMeasurement(i)">
                  <i class="material-icons">delete_outline</i>
                </button>

              </div>
            </div>
          </div>

          <div class="add-serving-size-row">
            <button mat-mini-fab color="primary" type="button" (click)="onClickAddMeasurement()">
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>
      </mat-expansion-panel>

      <!-- Nutrition -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title [class.error]="nutritionSectionHasError()">
            Nutrition
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="nutrition-fields">
          <mat-form-field>
            <input matInput type="number" placeholder="Calories" formControlName="calories" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Fat (grams)" formControlName="fat" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Carbs (grams)" formControlName="carbs" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Protein (grams)" formControlName="protein" required>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </div>

    <!-- Submit / Cancel -->
    <div class="submit-buttons__container">
      <div class="submit-buttons__spacer"></div>
      <div class="submit-buttons">
        <button mat-raised-button type="button" (click)="onClickCancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!foodForm.valid">Save</button>
      </div>
    </div>
  </form>
</ng-container>