@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "./style-variables.scss";

body {
  margin: 0;
  background-color: $app-background;
  // for debugging only
  // border: 1px solid red;
}

h1,h2,h3,h4,h5,h6 {
  display: inline;
}

.error {
  color: $error-color;
}


/* Snack Bar Styles */
.error-snack-bar {
  color: black;
  background-color: rgba(255, 0, 0, .7);

  .mat-simple-snackbar-action {
    color: black;
  }
}

.success-snack-bar {
  color: white;
  background-color: rgba(6, 88, 6, .8);

  .mat-simple-snackbar-action {
    color: white;
  }
}

/* Loading Styles */
.loading-container{
  display: grid;
  justify-items: center;
}

/* Alignment */
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.soft-text {
  color:grey;
}