@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "./style-variables.scss";

body {
  margin: 0;
  background-color: $background-color;
  // for debugging only
  // border: 1px solid red;
}

h1,h2,h3,h4,h5,h6 {
  display: inline;
}
